*{
    margin:0;
    padding:0;
}

body{
    background-color: #C5BAFF;
    text-align: center;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 10px 5px 5px #C4D9FF;
    font-size: 8vmin;
    color: #618ad7;
    background-color: white;

}

#reset-btn{
    padding: 15px;
    font-size: 1rem;
    border-radius: 1rem;
    background-color:#618ad7;
    color:white;
    border:none;
}

#new-btn {
    padding: 15px;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #618ad7;
    color: white;
    border: none;
}

#msg{
    color:white;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}